<!DOCTYPE html>
<html>

<head>
    <title>UProffi</title>
</head>

<script>
    const f = async () =>{
        const a = await fetch("/api/questions/")
        const b = await a.json()
        console.log(b)
    }
</script>

<body>
    <h2>Dashboard</h2>
    <h2>Hurray! {{currentUser.dataValues.email}} you are logged in 🥳.</h2>
    <h3>Наши пользватели</h3>
        <ul>
            {{#each users}}
                <li>{{this.dataValues.email}}</li>
            {{/each}}
        </ul>
    <button onclick="f()">get</button>
    <br>
    <a href="/api/users/logout">Выйти</a>
</body>
 
</html>