<!DOCTYPE html>
<html>

<head>
    <title>Passport with Sequelize</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2>Кем ты хочешь стать когда вырастешь?🥳</h2>
     <a href="/api/users/signup">Зарегистрироваться</a>
     <br>
    <a href="/api/users/signin">Войти в ЛК</a>
</body>

</html>